
@use './main.scss';
@use './headline.scss';
@use './info.scss';
@use './mobile.scss';
* {
  z-index: 2;
}
body {
  background: #000;
}
.cv {
  background: #fff;
  font-family: 'Lexend', sans-serif;
}



